tab-item[data-level][data-level="0"] tab-item-substance {
  margin-left: 5px !important;
}
tab-item[data-level][data-level="1"] tab-item-substance {
  margin-left: 50px !important;
}
tab-item[data-level][data-level="2"] tab-item-substance {
  margin-left: 90px !important;
}
tab-item[data-level][data-level="3"] tab-item-substance {
  margin-left: 130px !important;
}
tab-item[data-level][data-level="4"] tab-item-substance {
  margin-left: 170px !important;
}
tab-item[data-level][data-level="5"] tab-item-substance {
  margin-left: 210px !important;
}
tab-item[data-level][data-level="6"] tab-item-substance {
  margin-left: 250px !important;
}
tab-item[data-level][data-level="7"] tab-item-substance {
  margin-left: 290px !important;
}
tab-item[data-level][data-level="8"] tab-item-substance {
  margin-left: 330px !important;
}
tab-item[data-level][data-level="9"] tab-item-substance {
  margin-left: 370px !important;
}
tab-item[data-level][data-level="10"] tab-item-substance {
  margin-left: 410px !important;
}
tab-item[data-level][data-level="11"] tab-item-substance {
  margin-left: 450px !important;
}
tab-item[data-level][data-level="12"] tab-item-substance {
  margin-left: 490px !important;
}
tab-item[data-level][data-level="13"] tab-item-substance {
  margin-left: 530px !important;
}
tab-item[data-level][data-level="14"] tab-item-substance {
  margin-left: 570px !important;
}
